@model IEnumerable<KeepLearning.Application.TestCountry.Models.Question>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCapitalCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToGuessType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCapitalCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToGuessType)
            </td>
        </tr>
}
    </tbody>
</table>
